<html>
  
</html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Instastache!</title>
    <style>
      .hidden {
        display: none;
      }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $('a.mustache-pic').click(function(e) {
          $(this).toggleClass('hidden');
          $(this).next().toggleClass('hidden');
          e.preventDefault();
        });
        $('a.back').click(function(e) {
          var $currentPic = $('a.mustache-pic').filter(':visible');
          $currentPic.toggleClass('hidden');
          $currentPic.prev().toggleClass('hidden');
          e.preventDefault();
        });
      });
    </script>
  </head>
  <body>
    <form action="/" method="get">
      <label for="action">Instagram tag:</label>
      <input type='text' name="action" value="<%= @action %>" />
      <input type='submit' />
    </form>
    <a href="#" id="0" class="mustache-pic" ><img src="http://mustachify.me/?src=http://images.instagram.com/media/2011/08/31/68b7648aa79641028b6cfa10d3f8eb60_7.jpg" /></a>
    <% @urls.each_with_index do |url, i| %>
      <a href="#" class="mustache-pic hidden" id="<%= i + 1 %>"><img src="<%= url %>" /></a>
    <% end %>
    <a href="#" class="back">Go back</a>
  </body>
</html>
